body {
    margin: 0;
}

.container-one {
    background-color:#74C69D;
}

header,
.header-logo,
.header-links-items,
.container-one-two {
    display: flex;
    
}

header {
    justify-content: space-between;
    padding: 35px 130px 40px 135px;
    align-items: center;
}

.logo-img {
    padding-right: 18px;
}

.logo-txt,
.list-link,
a,
h3,
.main-paragraph {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.logo-txt {
    
    font-weight: 500;
    font-size: 40px;
    color: white;
}

.list-link {
    padding-left: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-one-two {
    padding-left: 130px;
    padding-right: 130px;
    justify-content: space-between;
}

.container-one-two-txt {
    width: 416px;
    height: 226px;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 5px;
}

.main-heading {
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.main-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
    padding-bottom: 25px;
}

.explore-btn {
    width: 170px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #000000;
    border-style: none;
}

.container-one-two-img {
    padding: 40px 120px 85px 130px;
}

.heading-green {
    color: #74C69D;
    margin: 0;
}

.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vh 10vw 7vh 10vw;
    width: 80vw;
}

.container-two-main-heading {
    margin: 1.5vh 0 1.5vh 0;
}

.container-two-text {
    margin: 0 0 5vh 0;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 30vw;
   
}

.container-two-logos {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}

.container-two-btn {
    margin-top: 5.5vh;
    width: 11vw;
    height: 3.5vw;
    background: #212529;
    border-radius: 5px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
}

.container-three {
    display: flex;
    width: 70vw;
    align-self: center;
    margin: 0 9vw 5vh 9vw;
}

.container-three-txt {
    margin-left: 8vw;
    width: 25vw;
}

.container-three-txt > h1 {
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.container-three-txt > p {
    color: rgba(33, 37, 41, 0.5);
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    margin-bottom: 3vh;
}

.container-three-txt > button {
    margin-top: 0;
}

.container-four {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10vh;
}

.container-three-txt.four {
    align-self: center;
}

.container-four-img {
    margin-right: 10vw;
}

.talent {
    width: 25vw;
    height: 30vh;
    background: #FFFFFF;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 4vw;
}

.talent > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.talent > h2 {
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    margin: 0 0 0 3vw;
}

.talent > p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.75);
    margin-left: 3vw;
}